body {
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    max-width: 900px;
    background-color: #F7F7F7;
    display: grid;
    grid-template-areas: "video-destaque propaganda"
        "video-destaque                                                                                            video-sugeridos";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    gap: 20px;
    padding: 35px;

}

.video-destaque {
    grid-area: video-destaque;
}

.video-destaque img {
    margin-bottom: 12px;

}

.video-destaque .titulo {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
}

.video-destaque .visualizacao {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 7px;
}

.video-destaque .descricao-principal {
    font-size: 16px;
    font-weight: 300;
}

.propaganda {
    grid-area: propaganda;
}

.video-sugeridos .video {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.video-sugeridos .video .titulo {
    font-size: 14px;
    margin-bottom: 5px;
}

.video-sugeridos .video p {
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: 300;

}